.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    position: relative;
}

.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 16px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    font-weight: bold;
    border-radius: 4px;
    z-index: 3;
    transition: background-color 0.5s ease;
    font-family: 'Open Sans', sans-serif;
}

.logout-button:hover {
    background-color: #ffffff;
    color: #673AB7;
}

.main-image {
    width: 100%;
    height: 45vh;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.main-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.main-image-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 0 50px;
}

.movie-title-image {
    margin-right: 100px;
}

.movie-title-image img {
    max-width: 800px;
    max-height: 200px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-right: 200px;
}

.movie-details h2 {
    margin: 0;
    font-size: xx-large;
    text-align: center;
}

.play-button {
    background-color: #673AB7;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.filter-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.filter-section h2 {
    font-size: 1.8em;
    color: white;
}

.genres {
    display: flex;
    gap: 20px;
}

.genres label {
    font-size: 1.2em;
    color: white;
}

.genres input {
    margin-left: 10px;
    align-self: center;
}

.watchlist-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.watchlist-filter label {
    font-size: 1.2em;
    color: white;
}

.watchlist-filter input {
    align-self: center;
}

.movie-section {
    width: 100%;
}

.movie-row {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin-bottom: 20px;
    scrollbar-width: thin;
}

.movie-row::-webkit-scrollbar {
    height: 5px;
}

.movie-row::-webkit-scrollbar-thumb {
    background-color: #B295E5;
    border-radius: 5px;
}

.movie-row::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
}

.movie-row::-webkit-scrollbar-track {
    background-color: #673AB7;
    border-radius: 5px;
}